.profile__avatar-edit {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    background: none;
    border: none;
    border-radius: 50%;
    transition: 0.1s;
}

.profile__avatar-edit:hover {
    opacity: 0.8;

    cursor: pointer;
    background: rgba(0, 0, 0, 0.9) url(../../../images/avatar-edit.svg)
        no-repeat center;
}
