.popup__title {
    margin: 0 0 35px 0;
    padding: 0;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
}

@media screen and (max-width: 475px) {
    .popup__title {
        margin: 0 0 75px 0;
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
    }
}
