.header__auth {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.header__auth:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 918px) {
    .header__auth {
        margin-right: 19px;
    }
}
