.profile__title {
  margin: 0;
  max-width: 336px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 703px) {
  .profile__title {
    margin-bottom: 7px;
    margin-left: 26px;
    justify-content: center;
  }
}
