.footer {
  /* margin: 0; */
  margin: 66px auto 60px;
  max-width: 880px;
  /* margin-top: 66px; */
  /* margin-bottom: 60px; */
}

@media screen and (max-width: 918px) {
  .footer {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 585px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}


